{% extends 'base.html' %}

{% block title %}
Netflix - Movie
{% endblock title %}

{% block content %}

    {% include 'partials/navbar.html' %}
    <main class='bg-primary_black h-full w-full '>

        {{ movie|json_script:"movie_data" }}
        
        <video  controls class="w-full h-screen player"></video>
        
    </main>
    <script>
        const videoEl=document.querySelector('video')
        const movie_data = JSON.parse(document.getElementById('movie_data').textContent);
        
       
        const url =new URL(location.href)
        
        const video_param = parseInt(url.searchParams.get("epi")) ? parseInt(url.searchParams.get("epi")) : 0

        videoEl.setAttribute('src',`http:/localhost:8000/media/${movie_data[video_param].file}`)
    </script>
{% endblock content %}
