<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix - Movie</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <style>
        .player::-webkit-progress-bar{
            color: red;
        }
    </style>
</head>
<body class='font-primary'>
    <nav class="flex justify-between items-center py-3 bg-gray-900  px-4 w-full z-50">
        <div class="w-6/12">
            <img src="assets/netflix.png" alt="logo" class="w-5/12 md:w-2/12">
        </div>
        

        <div>
            <button class='bg-primary_red py-1 px-3 text-white md:text-lg rounded-md'>
                Log out
            </button>
        </div>
        
    </nav>
    <main class='bg-primary_black h-full w-full '>
        
        <video src="assets/test.mp4" controls class="w-full h-screen player"></video>
        
    </main>
</body>
</html>